<%# PATH : new_report_report_food_item%>
<%# URL : /reports/:report_id/report_food_items/new%>
<%# http://localhost:3000/reports/1/report_food_items/new %>

  <h2>Add <%= @report.meal_type %></h2>
  <div class="add-fooditem">
    <%= simple_form_for [@report, @report_food_item] do |f| %>
    <%= f.association :food_item, input_html: {multiple: true, data: {controller: "tom-select", tom_select_options_value: {tags: true}}}, inline_label: 'Choose', label: false %>
    <div>
        <%= f.button :submit, "Add", class:"btn-submit-report"   %>
      </div>
    <% end %>


<%# Not working ? %>
    <div class="recent-fooditem">
    <h3>Recents</h3>
      <div class="recent-fooditem-name">
        <% @recent_report_food_item.each do | report_food_item | %>
        <ul> <%= report_food_item.food_item.name %> </ul>
        <% end %>
      </div>
    </div>
  </div>
