<%# EDIT PAGE --- NEED TO CHANGE %>

<h2>Edit Recipes</h2>
<div class="new-rep-container">
  <div class="add-recipe">
    <div class="add-recipe-form">
      <%= simple_form_for @recipe do |f| %>
        <div class="meal-type-recipe">
          <h3><%= f.input :meal_type, collection: [ "Breakfast", "Lunch", "Dinner", "Snacks"] %></h3>
        </div>

        <div class="name-recipe">
          <h3><%= f.input :name %></h3>
        </div>
        <div class="add-fooditem-recipe">
          <div class="ingredients-recipe">
            <h3>Ingredients</h3>
          </div>
          <%= f.association :recipe_food_items, collection: FoodItem.all, input_html: {multiple: true, data: {controller: "tom-select", tom_select_options_value: {tags: true}}}, inline_label: 'Choose', label: false %>
          <div class="add-fooditem-recipe-btn">
            <%= f.button :submit, "Add", class:"btn btn-primary" %>
            <button class="btn btn-secondary">
              <%= link_to "Back", recipes_path %>
            </button>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
