    <% @recipes.each do | recipe | %>
    <h2><%= recipe.meal_type %></h2>
    <div class="card-recipe-name">
      <%= link_to recipe_path(recipe) do %>

      <h3><%= recipe.name %></h3>
      <% end %>
  <% end %>


    <% @recipes.each do | recipe | %>
    <h2><%= recipe.meal_type %></h2>
    <%= recipe.meal_type.each do |recipe_type| %>
      <h3><%= recipe.name %></h3>
      <% end %>
  <% end %>



<% @recipe_by_type.each do |recipe| %>
  <h2><%= recipe.meal_type %></h2>
  <h3><%= recipe.name %></h3>
<% end %>


    <% @recipes.each do | recipe | %>
    <h2><%= recipe.meal_type %></h2>
    <%= @recipes.each do |recipe_type| %>
      <h3><%= recipe.name %></h3>
      <% end %>
  <% end %>
