<div class="footer">
  <%= link_to dashboard_path do %>
    <%= inline_svg_tag("home.svg", class:"footer-icon")  %>
  <% end %>

  <%= link_to calendar_path do %>
  <%= inline_svg_tag "calendar.svg", class: "footer-icon" %>
  <% end %>

  <div class="dropup">
    <button class="dropbtn"><%= inline_svg_tag "positive.svg", class: "footer-icon-plus" %></button>
    <div class="dropup-content">
      <%= link_to "Breakfast", new_user_session_path%>
      <%= link_to "Lunch", new_user_session_path%>
      <%= link_to "Dinner", new_user_session_path%>
      <%= link_to "Snack", new_user_session_path%>
      <%= link_to "Drinks", new_user_session_path%>
      <div class="next-to">
      <%= link_to "Mood", new_user_session_path%>
      <%= link_to "Symptoms", new_user_session_path%>
      </div>
    </div>
  </div>

  <%= link_to new_user_session_path do %>
  <%= inline_svg_tag "cardiogram.svg", class: "footer-icon" %>
  <% end %>

  <%= link_to settings_path do %>
  <%= inline_svg_tag "person.svg", class: "footer-icon" %>
  <% end %>
</div>
