<div class="footer">
  <%= link_to dashboard_path do %>
    <%= inline_svg_tag("home.svg", class:"footer-icon")  %>
  <% end %>

  <%= link_to calendar_path do %>
  <%= inline_svg_tag "calendar.svg", class: "footer-icon" %>
  <% end %>




  <div class="dropup">
     <button class="dropbtn"><%= inline_svg_tag "positive.svg", class: "footer-icon-plus" %></button>
    <div class="dropup-content">
      <div class="inner-dropup">
        <div class="inner-feelings">
          <button class="btn btn-primary">
            <%= link_to edit_user_registration_path do %>
              <p>Mood</p>
            <% end %>
          </button>
          <button class="btn btn-primary">
            <%= link_to edit_user_registration_path do %>
              <p>Symptoms</p>
            <% end %>
          </button>
        </div>
        <div class="inner-inner-food">
          <div class="inner-food">
            <button class="btn btn-primary">
              <%= link_to edit_user_registration_path do %>
                <p>Breakfast</p>
              <% end %>
            </button>

            <button class="btn btn-primary">
              <%= link_to edit_user_registration_path do %>
                <p>Lunch</p>
              <% end %>
            </button>
          </div>
          <div class="inner-food">
            <button class="btn btn-primary">
              <%= link_to edit_user_registration_path do %>
                <p>Diner</p>
              <% end %>
            </button>
            <button class="btn btn-primary">
              <%= link_to edit_user_registration_path do %>
                <p>Snacks</p>
              <% end %>
            </button>
          </div>
          </div>
          <div class="water">
            <button class="btn btn-primary">
              <%= link_to edit_user_registration_path do %>
                <p>Drinks</p>
              <% end %>
            </button>
          </div>
        </div>
    </div>
  </div>

  <%= link_to new_user_session_path do %>
  <%= inline_svg_tag "cardiogram.svg", class: "footer-icon" %>
  <% end %>

  <%= link_to settings_path do %>
  <%= inline_svg_tag "person.svg", class: "footer-icon" %>
  <% end %>
</div>
