<div class="footer">
  <div class="dropup">
      <button class="dropup-button"></button>
    <div class="dropup-content">
      <%= link_to "Breakfast", new_user_session_path%>
      <%= link_to "Lunch", new_user_session_path%>
      <%= link_to "Diner", new_user_session_path%>
      <%= link_to "Snacks", new_user_session_path%>
      <%= link_to "Drinks", new_user_session_path%>
      <%= link_to "Mood", new_user_session_path%>
      <%= link_to "Symptoms", new_user_session_path%>
    </div>
  </div>
</div>
