<div class="footer">


  <%= link_to dashboard_path do %>
  <%= image_tag "home_.png", class: "footer-item" %>
  <% end %>

  <%= link_to calendar_path do %>
  <%= image_tag "calendar.png", class: "footer-item" %>
  <% end %>

  <div class="dropup">
    <button class="dropbtn"><%= image_tag "positive.png", class: "footer-item-plus" %></button>
    <div class="dropup-content">
      <%= link_to "Breakfast", new_user_session_path%>
      <%= link_to "Lunch", new_user_session_path%>
      <%= link_to "Dinner", new_user_session_path%>
      <%= link_to "Snack", new_user_session_path%>
      <%= link_to "Drinks", new_user_session_path%>
      <div class="next-to">
      <%= link_to "Mood", new_user_session_path%>
      <%= link_to "Symptoms", new_user_session_path%>
      </div>
    </div>
  </div>

  <%= link_to new_user_session_path do %>
  <%= image_tag "cardiogram.png", class: "footer-item" %>
  <% end %>

  <%= link_to new_user_session_path do %>
  <%= image_tag "book.png", class: "footer-item" %>
  <% end %>



</div>
