<div class="footer">
  <%= link_to dashboard_path do %>
    <%= inline_svg_tag("home.svg", class:"footer-icon")  %>
    <p>Home</p>
  <% end %>

  <%= link_to calendar_path do %>
  <%= inline_svg_tag "calendar.svg", class: "footer-icon" %>
  <p>Calendar</p>
  <% end %>

  <div class="dropup">
     <button class="dropbtn"><%= inline_svg_tag "positive.svg", class: "footer-icon-plus" %></button>
     <p>Add</p>
    <div class="dropup-content">
      <div class="inner-dropup">
        <div class="inner-feelings">
          <button class="btn btn-primary">
            <%= link_to reports_path(category: "Moods"), data: {turbo_method: :post} do %>
              <p>Mood</p>
            <% end %>
          </button>
          <button class="btn btn-primary">
            <%= link_to reports_path(category: "Feelings"), data: {turbo_method: :post} do %>
              <p>Symptoms</p>
            <% end %>
          </button>
        </div>
        <div class="inner-inner-food">
          <div class="inner-food">
            <button class="btn btn-primary">
              <%= link_to reports_path(category: "Breakfast"), data: {turbo_method: :post} do %>
                <p>Breakfast</p>
              <% end %>
            </button>

            <button class="btn btn-primary">
              <%= link_to reports_path(category: "Lunch"), data: {turbo_method: :post} do %>
                <p>Lunch</p>
              <% end %>
            </button>
          </div>
          <div class="inner-food">
            <button class="btn btn-primary">
              <%= link_to reports_path(category: "Dinner"), data: {turbo_method: :post} do %>
                <p>Dinner</p>
              <% end %>
            </button>
            <button class="btn btn-primary">
              <%= link_to reports_path(category: "Snacks"), data: {turbo_method: :post} do %>
                <p>Snacks</p>
              <% end %>
            </button>
          </div>
          </div>
          <div class="water">
            <button class="btn btn-primary">
              <%= link_to reports_path(category: "Drinks"), data: {turbo_method: :post} do %>
                <p>Drinks</p>
              <% end %>
            </button>
          </div>
        </div>
    </div>
  </div>

  <% if user_signed_in? && current_user.reports.find_by(date: Date.today) %>
    <%= link_to report_path(current_user.reports.find_by(date: Date.today)) do %>
      <%= inline_svg_tag "cardiogram.svg", class: "footer-icon" %>
    <% end %>
  <% else %>
    <%= link_to new_report_path(date: Date.today) do %>
      <%= inline_svg_tag "cardiogram.svg", class: "footer-icon" %>
      <p>Analysis</p>
    <% end %>
  <% end %>

  <%#   reminder change link to show page ( report_path instead of index (reports_path)!!        %>

  <%= link_to settings_path do %>
  <%= inline_svg_tag "person.svg", class: "footer-icon" %>
  <p>Profile</p>
  <% end %>
</div>
