<div class="my-container">

<%= month_calendar do |date| %>
  <%= date.strftime('%e') %>
<% end %>

<%= month_calendar do |date| %>
  <%= date.strftime('%e') %>
<% end %>

<%= month_calendar do |date| %>
  <%= date.strftime('%e') %>
<% end %>

<%= month_calendar do |date| %>
  <%= date.strftime('%e') %>
<% end %>

<%= month_calendar do |date| %>
  <%= date.strftime('%e') %>
<% end %>

</div>
