

<div class="dashboard-main-container">
    <div class="day-cal">

    <%= calendar(number_of_days: 1) do |date| %>
    <div class="day-name">
        <% report = Report.find_by(user: current_user, date: date) %>
        <%= date.strftime('%A') %>
      </div>
        <% if report %>
        <div class="dashboard-report-or-not">
        <%= link_to date.strftime('%e'), report_path(report) %>
        </div>
        <% else %>
          <%= link_to new_report_path(date: date) do %>
            <%= date.strftime('%e') %>
          <% end %>
        <% end %>
    <% end %>
    </div>

  <% report = Report.find_by(user: current_user, date: Date.today) %>
  <div class="dashboard-container">
    <h2 class="dashboard-content">Hi <%= current_user.first_name %>,</h2>
    <% if report %>
      <p>You are doing greet, keep loggin and HEIKO will soon give you an report.</p>
    <% else %>
      <p>You haven't logged anything yet today. <br>
      Add your first item, so HEIKO can help you better.</p>
    <% end %>
  </div>
</div>
