

<div class="dashboard-main-container">
    <div class="day-cal">

    <%= calendar(number_of_days: 1) do |date| %>
    <div class="day-name">
        <% report = Report.find_by(user: current_user, date: date) %>
        <%= date.strftime('%A') %>
      </div>
        <% if report %>
        <div class="dashboard-report-or-not">
        <%= link_to date.strftime('%e'), report_path(report) %>
        </div>
        <% else %>
          <%= link_to new_report_path(date: date) do %>
            <%= date.strftime('%e') %>
          <% end %>
        <% end %>
    <% end %>
    </div>

  <% report = Report.find_by(user: current_user, date: Date.today) %>
  <div class="dashboard-container">
    <h2 class="dashboard-content">Welcome <%= current_user.first_name %>,</h2>
    <% if report %>
      <p>Showed there is a report</p>
    <% else %>
    <p>Showed when no report</p>
    <% end %>
      <%= link_to reports_path do %>
    <%= inline_svg_tag "chevron-down-solid.svg", class: "footer-icon-dashboard" %>
    <% end %>
  </div>
</div>
