  <div class="dashboard-main-container">
    <div class="day-cal">
      <%= calendar(number_of_days: 1) do |date| %>
        <%= link_to calendar_path do %>
        <div class="day-name">
          <%= date.strftime('%A') %>
        </div>
        <div class="day-number">
          <%= date.strftime('%e') %>
        </div>
        <% end %>
      <% end %>
  </div>


  <div class="dashboard-container">
    <h2 class="dashboard-content">Welcome <%= current_user.first_name %>,</h2>
    <p>Let's get started.<br> Add your first log and start your journey <br> to a better balance.</p>
      <%= link_to reports_path do %>
    <%= inline_svg_tag "chevron-down-solid.svg", class: "footer-icon-dashboard" %>
    <% end %>
  </div>
</div>
