
  <div class="profile">
    <%= inline_svg_tag "person.svg", id: "profile-pic" %>
    <h2>Gaby vd Born</h2>
    <p>gabyvdborn@gmail.com</p>
    <div class="logout">
      <button class="btn btn-primary">
        <%= link_to edit_user_registration_path do %>
        <p>Edit profile</p>
        <% end %>
      </button>
      <button class="btn btn-secondary">
          <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
          <p>Log out</p>
          <% end %>
       </button>
       </div>
  </div>
<br>

<div class="profile-settings">

  <button class="btn btn-link">
    <%= link_to new_user_session_path do %>
    <p>Language</p>
    <% end %>
  </button>

  <button class="btn btn-link">
    <%= link_to new_user_session_path do %>
    <p>Dark Mode</p>
    <% end %>
  </button>

  <button class="btn btn-link">
    <%= link_to new_user_session_path do %>
    <p>Help</p>
    <% end %>
  </button>

    <button class="btn btn-link">
    <%= link_to new_user_session_path do %>
    <p>Privacy</p>
    <% end %>
  </button>
  </div>
<br>
