
  <div class="profile">
    <%= image_tag "profilephoto.png", id: "profile-pic" %>
    <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
    <p><%= current_user.email %></p>
    <div class="logout">
      <button class="btn btn-primary">
        <%= link_to edit_user_registration_path do %>
        <p>Edit profile</p>
        <% end %>
      </button>
      <button class="btn btn-secondary">
          <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
          <p>Log out</p>
          <% end %>
       </button>
       </div>
  </div>
<br>

<div class="profile-settings">

  <button class="btn btn-link">
    <%= link_to new_user_session_path do %>
    <p>Language</p>
    <% end %>
  </button>

  <button class="btn btn-link" onclick="myFunction()" >
    <p>Dark Mode</p>
  </button>

  <button  class="btn btn-link" >
    <%= link_to new_user_session_path do %>
    <p>Notification</p>

    <% end %>
  </button>

    <button class="btn btn-link">
    <%= link_to new_user_session_path do %>
    <p>Privacy</p>
    <% end %>
  </button>
  </div>
<br>
