<h2> All Moods </h2>

<div class="my-container">
  <div class="category-ms moods">
    <div class="card-ms">
      <div class="square">
        <%= inline_svg_tag("superhappy.svg", class:"card-ms-icon" )  %>
      </div>
      <p>Super happy</p>
    </div>
    <div class="card-ms">
      <div class="square">
        <%= inline_svg_tag("happy.svg", class:"card-ms-icon" )  %>
      </div>
      <p>Happy</p>
    </div>
    <div class="card-ms">
      <div class="square">
        <%= inline_svg_tag("crying.svg", class:"card-ms-icon" )  %>
      </div>
      <p>Sad</p>
    </div>
    <div class="card-ms">
      <div class="square">
        <%= inline_svg_tag("anxious.svg", class:"card-ms-icon" )  %>
      </div>
      <p>Anxious</p>
    </div>
    <div class="card-ms">
      <div class="square">
        <%= inline_svg_tag("stressed.svg", class:"card-ms-icon" )  %>
      </div>
      <p>Stressed</p>
    </div>
    <div class="card-ms">
      <div class="square">
        <%= inline_svg_tag("angry.svg", class:"card-ms-icon" )  %>
      </div>
      <p>Angry</p>
    </div>
  </div>
</div>
