<%# PATH: new_report  %>
<%# URL: /reports/new %>


<div class="container-add-report-select-day">

  <div class="day-name">
    <%= params[:date].to_date.strftime('%A') %>
  </div>
  <div>
<%= params[:date].to_date.strftime('%B') %> <%= params[:date].to_date.strftime('%e') %>
</div>
  <br><br>
  <p>What would you like to add ?</p>
</div>


<div class="inner-dropup">
  <div class="inner-feelings">
    <button class="btn btn-primary">
      <%= link_to reports_path(date: params[:date], category: "Moods"), data: {turbo_method: :post} do %>
        <p>Mood</p>
      <% end %>
    </button>
    <button class="btn btn-primary">
      <%= link_to reports_path(date: params[:date], category: "Feelings"), data: {turbo_method: :post} do %>
        <p>Symptoms</p>
      <% end %>
    </button>
  </div>
  <div class="inner-inner-food">
    <div class="inner-food">
      <button class="btn btn-primary">
        <%= link_to reports_path(date: params[:date], category: "Breakfast"), data: {turbo_method: :post} do %>
          <p>Breakfast</p>
        <% end %>
      </button>

      <button class="btn btn-primary">
        <%= link_to reports_path(date: params[:date], category: "Lunch"), data: {turbo_method: :post} do %>
          <p>Lunch</p>
        <% end %>
      </button>
    </div>
    <div class="inner-food">
      <button class="btn btn-primary">
        <%= link_to reports_path(date: params[:date], category: "Dinner"), data: {turbo_method: :post} do %>
          <p>Dinner</p>
        <% end %>
      </button>
      <button class="btn btn-primary">
        <%= link_to reports_path(date: params[:date], category: "Snacks"), data: {turbo_method: :post} do %>
          <p>Snacks</p>
        <% end %>
      </button>
    </div>
    </div>
    <div class="water">
      <button class="btn btn-primary">
        <%= link_to reports_path(date: params[:date], category: "Drinks"), data: {turbo_method: :post} do %>
          <p>Drinks</p>
        <% end %>
      </button>
    </div>
  </div>
</div>
