<%# PATH: report %>
<%# URL: /reports/:id %>

<%# <%= @report.food_item.meal_type  %>
<%# <%= today_report.report_food_items.group(:meal_type).count  %>

<div class="week"><%= render "shared/calendar_week", report: @report %></div>
<div class="day-cal-report"><%= render "shared/calendar_day_name", report: @report %></div>

  <h2>Meals</h2>
  <%= @report.date %>
  <div class="overview-day">
    <% @report_food_items.each do | group | %>
      <h3><%= @meal_type_name = group[0]  %></h3>
        <% group[1].each do |report_food_item|%>
          <%= simple_form_for [@report, report_food_item], method: :delete do |f| %>
          <%= report_food_item.food_item.name %>
          <button class="btn-delete-fi" type="submit">X</button>
          <% end %>
        <% end %>
    <% end %>
  </div>

  <div class="profile-settings">
    <button class="btn btn-link">
      <%= link_to new_user_session_path do %>
      <p>Week overview</p>
      <% end %>
    </button>
      <button class="btn btn-link">
      <%= link_to new_user_session_path do %>
      <p>Month overview</p>
      <% end %>
    </button>
  </div>

  <br><br>

  <h2>Mood</h2>

<div class="show-mood">
  <% @report.report_moods.each do |report_mood| %>
    <%= simple_form_for [@report, report_mood], method: :delete do |f| %>
      <div class="card-ms">
        <div class="square">
          <%= inline_svg_tag("#{report_mood.mood.name}.svg", class:"card-ms-icon" )  %>
          <p><%= report_mood.mood.name %></p>
          <button class="btn-delete-ms" type="submit">X</button>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>

  <h2>Symptoms</h2>
  <div class="show-feeling">
    <% @report.report_feelings.each do |report_feeling| %>
      <%= simple_form_for [@report, report_feeling], method: :delete do |f| %>
        <div class="card-ms">
          <div class="square">
            <%= inline_svg_tag("#{report_feeling.feeling.name}.svg", class:"card-ms-icon" )  %>
            <p><%= report_feeling.feeling.name %></p>
            <button class="btn-delete-ms" type="submit">X</button>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
