<%# PATH: report %>
<%# URL: /reports/:id %>


<%# <%= @report.food_item.meal_type  %>

<%# <%= today_report.report_food_items.group(:meal_type).count  %>

<div class="week"><%= render "shared/calendar_week" %></div>
<div class="day-cal-report"><%= render "shared/calendar_day_name" %></div>

<h2> Moods / Symptoms </h2>


  <% @report.moods.each do |mood| %>
    <div class="card-ms">
      <div class="square">
        <%= inline_svg_tag("#{mood.name}.svg", class:"card-ms-icon" )  %>
        <p><%= mood.name %></p>
      </div>
    </div>
  <% end %>

  <% @report.feelings.each do |feeling| %>
    <div class="card-ms">
      <div class="square">
        <%= inline_svg_tag("#{feeling.name}.svg", class:"card-ms-icon" )  %>
        <p><%= feeling.name %></p>
      </div>
    </div>
  <% end %>

  <div class="fake">
    <div class="category-ms-overview">
      <div class="card-ms-overview">

      </div>
    </div>
  </div>
  <p>selected icons mood and symptom here!!</p>
<br><br><br> <br>

<h2>Meals</h2>
  <div class="overview-day">
  <% @report_food_items.each do | group | %>
  <h3><%= @meal_type_name = group[0]  %></h3>
  <% group[1].each do |report_food_item|%>
  <%= report_food_item.food_item.name %>
      <% end %>
    <% end %>
  </div>

<div class="profile-settings">

  <button class="btn btn-link">
    <%= link_to new_user_session_path do %>
    <p>Week overview</p>
    <% end %>
  </button>
    <button class="btn btn-link">
    <%= link_to new_user_session_path do %>
    <p>Month overview</p>
    <% end %>
  </button>

  </div>

</div>
