<%# PATH: report %>
<%# URL: /reports/:id %>


<%# <%= @report.food_item.meal_type  %>

<%# <%= today_report.report_food_items.group(:meal_type).count  %>

<div class="week"><%= render "shared/calendar_week" %></div>
<div class="day-cal-report"><%= render "shared/calendar_day_name" %></div>

<h2> Moods / Symptoms </h2>
  <p>selected icons mood and symotom here!!</p>
<br><br><br> <br>

<h2>Meals</h2>
  <div class="overview-day">
  <% @report_food_items.each do | group | %>
  <h3><%= @meal_type_name = group[0]  %></h3>
  <% group[1].each do |report_food_item|%>
  <%= report_food_item.food_item.name %>
      <% end %>
    <% end %>
  </div>

<div class="profile-settings">

  <button class="btn btn-link">
    <%= link_to new_user_session_path do %>
    <p>Week overview</p>
    <% end %>
  </button>
    <button class="btn btn-link">
    <%= link_to new_user_session_path do %>
    <p>Month overview</p>
    <% end %>
  </button>

  </div>

</div>
