<%# PATH: report %>
<%# URL: /reports/:id %>

<%# <%= @report.food_item.meal_type  %>
<%# <%= today_report.report_food_items.group(:meal_type).count  %>

<div class="week"><%= render "shared/calendar_week", report: @report %></div>
<div class="day-cal-report"><%= render "shared/calendar_day_name", report: @report %></div>
  <div class="show-food">
    <h3>Meals</h3>
      <% @report_food_items.each do | group | %>
        <h3><%= @meal_type_name = group[0]  %></h3>
          <% group[1].each do |report_food_item|%>
            <%= simple_form_for [@report, report_food_item], method: :delete do |f| %>
              <div class="square">
                <div class="btn-delete-fi"><%= report_food_item.food_item.name%> <button type="submit">X</button> </div>
              </div>
              <% end %>
            <% end %>
        <% end %>
  </div>

  <div class="mood-show-h3">
      <h3>Mood</h3>
    </div>
  <div class="show-mood">
    <% @report.report_moods.each do |report_mood| %>
      <%= simple_form_for [@report, report_mood], method: :delete do |f| %>
        <div class="card-ms">
          <div class="square no-margin-square">
            <%= inline_svg_tag("icons/#{report_mood.mood.name.downcase.parameterize(separator: '_')}.svg", class:"card-ms-icon" )  %>
            <div class="btn-delete-ms"><%= report_mood.mood.name %> <button type="submit">X</button> </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="mood-show-h3">
      <h3>Symptoms</h3>
    </div>
  <div class="show-feeling">
    <% @report.report_feelings.each do |report_feeling| %>
      <%= simple_form_for [@report, report_feeling], method: :delete do |f| %>
        <div class="card-ms">
          <div class="square no-margin-square">
            <%= inline_svg_tag("icons/#{report_feeling.feeling.name.downcase.parameterize(separator: '_')}.svg", class:"card-ms-icon" )  %>
            <div class="btn-delete-ms"><%= report_feeling.feeling.name %><button type="submit">X</button> </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


  <div class="other-overview">
    <button class="btn btn-primary">
      <%= link_to week_path do %>
      <p>Week</p>
      <% end %>
    </button>
      <button class="btn btn-primary">
      <%= link_to month_path do %>
      <p>Month</p>

      <% end %>
    </button>
  </div>
